@import "../settings/mediaQuery";
.collection,
.upcomingEvents {
  .collectionContainer,
  .upcomingEventsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .collectionContainerCard,
    .upcomingEventsCards {
      width: 30%;
      @include mobile {
        width: 48%;
      }
      @include galaxy_s3_both {
        width: 48%;
      }
      @include galaxy_pixel_both {
        width: 48%;
      }
      @include galaxy_pixel_xl_both {
        width: 48%;
      }
      @media screen and (device-width: 384px) and (device-height: 640px) {
        width: 48%;
      }
      @media screen and (device-width: 412px) and (device-height: 732px) {
        width: 48%;
      }
      @media screen and (device-width: 320px) and (device-height: 533px) {
        width: 48%;
      }
      @media screen and (device-width: 480px) and (device-height: 854px) {
        width: 48%;
      }
      @include iPhone_4_both {
        width: 48%;
      }
      @media screen and (device-width: 280px) and (device-height: 653px) {
        width: 100%;
      }
    }
  }
}
